@-webkit-keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-moz-keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-o-keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-moz-keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-o-keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-moz-keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-o-keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes scaleIn {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); } }

@-moz-keyframes scaleIn {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); } }

@-o-keyframes scaleIn {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); } }

@keyframes scaleIn {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
  padding: 3rem; }

section {
  width: 100%;
  padding: 6rem 0;
  text-align: center; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.heading__primary {
  margin-bottom: 6rem; }
  .heading__primary--main {
    color: #fff;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.5rem;
    line-height: 1.7;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: moveInLeft;
    -webkit-animation-fill-mode: fowards;
    -webkit-animation-direction: ease-out;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: moveInLeft;
    -moz-animation-fill-mode: fowards;
    -moz-animation-direction: ease-out;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: moveInLeft;
    animation-fill-mode: fowards;
    animation-direction: ease-out; }
  .heading__primary--sub {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75rem;
    line-height: 1.7;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: moveInRight;
    -webkit-animation-fill-mode: fowards;
    -webkit-animation-direction: ease-out;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: moveInRight;
    -moz-animation-fill-mode: fowards;
    -moz-animation-direction: ease-out;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: moveInRight;
    animation-fill-mode: fowards;
    animation-direction: ease-out; }

.heading__secondary {
  margin-bottom: 8rem;
  display: inline-block;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
  background-image: linear-gradient(135deg, rgba(126, 213, 111, 0.8) 0%, rgba(40, 180, 133, 0.8) 100%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading__secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.7;
  margin-bottom: 1em; }

.heading__quaternary {
  padding: 0 1.5rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.7;
  position: absolute;
  right: 2rem; }
  .heading__quaternary:first-child {
    bottom: 8rem;
    z-index: 8888; }
  .heading__quaternary:last-child {
    bottom: 4rem;
    z-index: 9999; }
  .heading__quaternary--orange {
    background: linear-gradient(to right, rgba(255, 185, 0, 0.8) 0%, rgba(255, 119, 48, 0.8) 100%); }
  .heading__quaternary--green {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8) 0%, rgba(40, 180, 133, 0.8) 100%); }
  .heading__quaternary--blue {
    background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8) 0%, rgba(86, 67, 250, 0.8) 100%); }

.heading--white {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.7; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.7;
  margin-bottom: 3rem; }
  .paragraph--small {
    font-size: 1.5rem;
    margin-bottom: 0; }
  .paragraph--start {
    text-align: start; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.7;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: scaleIn;
    -webkit-animation-fill-mode: fowards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.4s;
    -moz-animation-name: scaleIn;
    -moz-animation-fill-mode: fowards;
    animation-delay: 0;
    animation-duration: 0.4s;
    animation-name: scaleIn;
    animation-fill-mode: fowards; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.btn--animated {
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: moveInBottom;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0.75s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: moveInBottom;
  -moz-animation-fill-mode: backwards;
  -moz-animation-direction: ease-out;
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-name: moveInBottom;
  animation-fill-mode: backwards;
  animation-direction: ease-out; }

.btn--animate {
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: moveInBottom;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-direction: ease-out;
  -moz-animation-delay: 0.25s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: moveInBottom;
  -moz-animation-fill-mode: backwards;
  -moz-animation-direction: ease-out;
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  animation-name: moveInBottom;
  animation-fill-mode: backwards;
  animation-direction: ease-out; }

.btn__secondary {
  display: inline-block;
  color: #55c57a;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.7;
  padding: 0.3rem;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s; }
  .btn__secondary:hover {
    color: #fff;
    transform: translateY(-3px);
    background-color: #55c57a;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.7;
  margin-bottom: 2rem;
  padding: 1.1rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }
  .button--green {
    color: #fff;
    background-color: #55c57a; }
    .button--green::after {
      background-color: #55c57a; }
  .button::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
    .button:hover::after {
      -webkit-animation-delay: 0;
      -webkit-animation-duration: 0.4s;
      -webkit-animation-name: scaleIn;
      -webkit-animation-fill-mode: fowards;
      -moz-animation-delay: 0;
      -moz-animation-duration: 0.4s;
      -moz-animation-name: scaleIn;
      -moz-animation-fill-mode: fowards;
      animation-delay: 0;
      animation-duration: 0.4s;
      animation-name: scaleIn;
      animation-fill-mode: fowards; }

.image {
  width: 55%;
  border-radius: 3px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s; }
  .image:hover {
    z-index: 40;
    transform: translate(-5px, -5px);
    width: 57.5%;
    outline: solid #55c57a 15px;
    outline-offset: 2rem; }
  .image--1 {
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 10; }
  .image--2 {
    position: absolute;
    top: 2rem;
    left: 24rem;
    z-index: 20; }
    .image--2:hover > .image {
      width: 52.5%; }
  .image--3 {
    position: absolute;
    top: 10rem;
    left: 11rem;
    z-index: 30; }

.benefit {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.77);
  padding: 2.5rem;
  text-align: center;
  transition: all 0.3s; }
  .benefit:hover {
    transform: translateY(-15px) scale(1.05); }

.icon {
  display: inline-block;
  color: #55c57a;
  font-size: 7rem;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 2rem; }

.card {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative; }
  .card:hover .card--behind {
    display: flex;
    z-index: 9999; }
  .card--behind {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .card--orange {
    background: linear-gradient(to right bottom, #ffb900 0%, #ff7730 100%); }
  .card--green {
    background: linear-gradient(to right bottom, #7ed56f 0%, #28b485 100%); }
  .card--blue {
    background: linear-gradient(to right bottom, #2998ff 0%, #5643fa 100%); }
  .card__image {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen;
    height: 23rem;
    position: relative; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8) 0%, rgba(255, 119, 48, 0.8) 100%), url(../../img/nat-5.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8) 0%, rgba(40, 180, 133, 0.8) 100%), url(../../img/nat-6.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8) 0%, rgba(86, 67, 250, 0.8) 100%), url(../../img/nat-7.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  .card__content {
    padding: 3rem 5.5rem; }
  .card__text {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.75); }
  .card__price {
    margin-bottom: 10rem;
    color: #fff;
    font-size: 6rem;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 1.7; }
  .card__btn {
    justify-content: center !important;
    margin-top: 10rem !important; }

.story {
  background-color: rgba(255, 255, 255, 0.75);
  width: 75%;
  transform: skewx(-12deg);
  padding: 6rem 6rem 3rem 6rem; }
  .story__figure {
    transform: skewx(12deg);
    position: relative;
    height: 15rem;
    max-width: 15rem;
    overflow: hidden;
    border-radius: 50%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 4rem; }
    .story__figure::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      z-index: 1000; }
  .story:hover .story__figure::after {
    opacity: 1; }
  .story:hover .story__caption {
    opacity: 1;
    top: 50%; }
  .story:hover .story__image {
    transform: scaleX(1.4) scaleY(1.1);
    filter: blur(3px); }
  .story__caption {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.7;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
    z-index: 2000; }
  .story__image {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scaleX(2) scaleY(1.4);
    transition: all 0.5s; }
  .story__content {
    transform: skewx(12deg); }
  .story__heading {
    text-align: start; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .row [class^="col-"] ~ [class^="col-"] {
    margin-left: 6rem; }
  .row .col-1-2 {
    flex-basis: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    flex-basis: calc((100% - 6rem) / 3); }
  .row .col-1-4 {
    flex-basis: calc((100% - 6rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(135deg, rgba(126, 213, 111, 0.8) 0%, rgba(40, 180, 133, 0.8) 100%), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 3.5rem; }
  .header__logo {
    height: 100%; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.form {
  margin-top: 4rem;
  width: calc(100% * 0.88 / (0.56 * 2)); }
  .form__input ~ .form__input {
    margin-top: 5rem; }
  .form__input {
    position: relative; }
    .form__input label {
      color: #777;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.7;
      position: absolute;
      top: -3rem;
      left: 2rem;
      opacity: 1;
      transition: all 0.3s;
      z-index: 1000; }
    .form__input input[type="text"],
    .form__input input[type="email"] {
      width: 100%;
      border: none;
      padding: 1.25rem 2rem;
      outline: none;
      border-radius: 3px;
      color: #777;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1.7;
      background-color: #fff;
      border-bottom: 3px solid transparent;
      transition: all 0.3s; }
      .form__input input[type="text"]::placeholder,
      .form__input input[type="email"]::placeholder {
        color: #aaa;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.7; }
      .form__input input[type="text"]:focus,
      .form__input input[type="email"]:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .form__input input[type="text"]:focus:valid,
      .form__input input[type="email"]:focus:valid {
        border-color: #55c57a; }
      .form__input input[type="text"]:focus:invalid,
      .form__input input[type="email"]:focus:invalid {
        border-color: #ff0000; }
    .form__input input:placeholder-shown ~ label {
      opacity: 1;
      font-size: 1.5rem;
      color: #aaa;
      position: absolute;
      top: 1.2rem;
      left: 2rem;
      z-index: -1; }
  .form__check-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 4rem 0; }
  .form__item ~ .form__item {
    margin-left: auto; }
  .form__item {
    margin-left: 4rem; }
    .form__item label {
      display: inline-block;
      width: 100%;
      color: #777;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1.7;
      cursor: pointer;
      position: relative; }
      .form__item label::after {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 5px solid #55c57a;
        border-radius: 50%;
        position: absolute;
        top: 0rem;
        left: -4rem; }
      .form__item label::before {
        content: "";
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        background-color: #55c57a;
        border-radius: 50%;
        position: absolute;
        top: 0.87rem;
        left: -3.16rem;
        opacity: 0;
        transform: scale(0.1);
        transition: all 0.2s; }
    .form__item input[type="radio"] {
      display: none; }
    .form__item input[type="radio"]:checked ~ label::before {
      opacity: 1;
      transform: scale(1); }

.footer__nav, .footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 2rem;
  width: 84%; }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  .footer__logo {
    justify-content: center;
    margin-bottom: 10rem; }
  .footer__nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .footer__link {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.7;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #55c57a; }
  .footer__item ~ .footer__item {
    margin-left: 2rem; }
  .footer__copyright {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.7;
    margin-left: auto;
    margin-bottom: 0; }

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .nav__item {
    display: inline-block;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s; }
    .nav__item::after {
      content: "";
      position: absolute;
      right: -5rem;
      top: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      transition: 0.5s;
      transform: skewX(-30deg);
      background-color: #fff; }
    .nav__item:hover {
      transform: translateX(10px); }
    .nav__item:hover::after {
      background-color: #fff;
      width: 150%; }
  .nav__item:hover .nav__link {
    color: #55c57a; }
  .nav__item ~ .nav__item {
    margin-top: 1rem; }
  .nav__link:visited, .nav__link:link {
    display: inline-block;
    height: 100%;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.7;
    transition: all 0.5s; }

.toggle {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  padding: 2rem;
  padding-top: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  z-index: 99999999;
  cursor: pointer; }
  .toggle__line {
    width: 100%;
    height: 0.2rem;
    background-color: #000;
    transition: all 0.2s;
    line-height: normal; }
  .toggle__line ~ .toggle__line {
    margin-top: 1rem; }
  .toggle__background {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    position: fixed;
    top: 6rem;
    right: 6rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    transition: all 0.6s;
    background: linear-gradient(to right, #55c57a 0%, #7ed56f 100%);
    z-index: 999; }

.rotate {
  transform: rotate(45deg) translate(8.5px, 8.5px); }

.rotate-reverse {
  transform: rotate(-45deg) translate(8.5px, -8.5px); }

.transparent {
  opacity: 0; }

.show {
  transform: scale(100); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15rem; }
  .section-about__content {
    margin-top: 1rem; }
  .section-about__composition {
    position: relative; }
    .section-about__composition:hover .image:not(:hover) {
      width: 52.5%;
      transform: translate(5px, 5px); }
  .section-about__text {
    text-align: start; }

.section-benefit {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8) 0%, rgba(40, 180, 133, 0.8) 100%), url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-7deg); }
  .section-benefit__content {
    transform: skewY(7deg); }

.section-tour {
  background-color: #f7f7f7;
  padding-top: 25rem;
  padding-bottom: 14rem;
  margin-top: -10rem; }

.section-story {
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%); }
  .section-story__video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1; }
  .section-story__content {
    justify-content: center;
    margin-bottom: 8rem; }
    .section-story__content--2 {
      margin-bottom: 10rem; }
  .section-story__btn {
    justify-content: center; }

.section-book {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, #7ed56f 0%, #28b485 100%); }
  .section-book__content {
    background-image: url(../../img/nat-10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .section-book__heading {
    margin-bottom: 0; }
  .section-book__form {
    width: 56%;
    padding: 6rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
    clip-path: polygon(0 0, 100% 0, 78% 100%, 0 100%);
    text-align: start; }

.section-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  border-radius: 50%;
  z-index: -1;
  transform: translateX(-300px);
  transition: all 0.6s; }

.isShow {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  z-index: 99999; }
