// COLORS
$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;
$color-light-orange: #ffb900;
$color-dark-orange: #ff7730;
$color-light-blue: #2998ff;
$color-dark-blue: #5643fa;
$color-red: #ff0000;

$color-gray: #777;
$color-light-gray: #aaa;
$color-white: #fff;
$color-dark: #000;
$color-medium-dark: #333;
$color-gray-dark: #eee;
$bg-color: #f7f7f7;

// SECTION
$section-margin: 8rem;

// FLEX BOX
$flex-width: 114rem;
$flex-horizontal: 6rem;
