%text {
  border-top: 1px solid rgba($color-white, 0.3);
  padding-top: 2rem;
  width: 84%;
}

.footer {
  background-color: $color-medium-dark;
  padding: 10rem 0;

  &__logo {
    justify-content: center;
    margin-bottom: 10rem;
  }

  &__nav {
    @extend %text;
    ul {
      @include flexBox();
    }
  }

  &__link {
    display: inline-block;
    @include text($color-white, 1.4rem, 400, uppercase);
    transition: all 0.2s;

    &:hover {
      color: $color-medium-green;
    }
  }

  &__item ~ &__item {
    margin-left: 2rem;
  }

  &__copyright {
    @extend %text;
    @include text($color-white, 1.4rem, 400);
    margin-left: auto;
    margin-bottom: 0;
  }
}
