.header {
  height: 95vh;
  @include background(
    (
      linear-gradient(
        135deg,
        rgba($color-light-green, 0.8) 0%,
        rgba($color-dark-green, 0.8) 100%
      ),
      url(../../img/hero.jpg)
    ),
    cover,
    top
  );
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo-box {
    @include absolute(4rem);
    height: 3.5rem;
  }

  &__logo {
    height: 100%;
  }

  &__text-box {
    @include absolute(40%, 50%, translate(-50%, -50%));
    text-align: center;
  }
}
