.btn {
  &:link,
  &:visited {
    display: inline-block;
    @include text(null, 1.6rem, 400, uppercase);
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba($color-dark, 0.2);

    &::after {
      @include animation(0, 0.4s, scaleIn, null);
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba($color-dark, 0.2);
  }

  &--white {
    color: $color-gray;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-medium-green;

    &::after {
      background-color: $color-medium-green;
    }
  }

  &::after {
    content: "";
    @include box(100%);
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.4s;
    @include absolute(0);
    z-index: -1;
  }

  &--animated {
    @include animation(0.75s, 0.5s, moveInBottom, ease-out, backwards);
  }

  &--animate {
    @include animation(0.25s, 0.5s, moveInBottom, ease-out, backwards);
  }

  &__secondary {
    display: inline-block;
    @include text($color-medium-green, 1.6rem, 500);
    padding: 0.3rem;
    border-bottom: 1px solid $color-medium-green;
    transition: all 0.2s;

    &:hover {
      color: $color-white;
      transform: translateY(-3px);
      background-color: $color-medium-green;
      box-shadow: 0 1rem 1rem rgba($color-dark, 0.2);
    }
  }
}
