* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  color: $color-gray;
  line-height: 1.7;
  padding: 3rem;
}

section {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
